body{
  margin: 0;
  padding: 0;
  font-family: 'GothamPro';
}
.header-modified{
  width: 100%;
  background-color: rgba(231,76,60,1);
  height: 100px;
  padding: 0px;
  padding-left: 20px;
}

.header-title-modified{
  text-decoration: none;
  margin-top: 20px;
}
.logo-modified{
  color: rgba(255,255,255,1);
  font-family: 'GothamPro';
}
.navigation-bar{
  max-width: 668px;
  width: 80%;
  margin: 0px auto;
  padding:0px;
  margin-top: 30px;
}

.navigation-bar-span:first-child{
  float: left;
  width: 33%;
}
.navigation-bar-span-modified{
  float: left;
  width: 34%;
  text-align: center
}
.navigation-bar-span:last-child{
  float: right;
  width: 33%;
  text-align: right;
}
.main{
  padding: 40px 20px;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  display: block;
  min-height: 320px;
  padding: 20px;
  overflow-x: auto;
  margin-top: 85px;
}

.main-add-content-inner{
  display: block;
  height: auto;
  width: 100%;
  text-align: center;
}
.wrapper{
  display: block;
  width: 100%;
  /*height: 440px;*/

  /*border: solid black 1px;*/
  /*overflow: hidden;*/
}
.result_wrapper{
  /*height: 500px;*/
}
.label-modified{
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
  }
  .input-modified{      
      max-width: 340px;
      width: 100%;
      font-size: 13px;
      text-align: center !important;
    }
.inner-header-login{    
    font-style: normal;
    font-weight: normal;
    color: rgba(0,0,0,0.54);
    font-size: 18px;
  }
.block_1,.block_2,.block_3{
  padding-bottom: 50px;
  border-bottom:rgb(225,225,225) 1.5px solid;

}
.span_1,.span_2,.span_3{
  font-family: 'GothamPro';
  font-size: 12px;
  position: relative;
  top:65px;
  left:42%;
  font-weight: bold;
  color: rgb(158,158,158);
}
.table_result{
  width: 100%;
  border: solid black 1px;
}
.table_result td,tr,th{
  border: solid black 1px;
  padding-top:10px;
  padding-bottom: 10px;
  text-align: center;
}

.first_tr{
  width: 30%;
  border: solid red 1px;
}
.first_tr,.second_tr,.third_tr,.fourth_tr td{
  width: 20%;
}
.second_tr{}
.third_tr{}
.fourth_tr{}
.focused {
    border-color: rgb(88,184,210);
  }

.table_result thead{
  background-color: rgb(229,77,66);
  color: #FFF;
}
#error_span{
  display: none;
  position: relative;
  top: 20px;
  font-family: 'GothamPro';
}

.acc{
  font-size:20px;
  position: relative;
  top:90px;
}
.first_td{
  position: relative;
  top: -10px;
}

.filled_tr{
  background-color: rgba(229,77,66,0.4);
}


.res_table{
  display: none;
}

.hide_table{
  display: inline-table;
}
#chartContainer{
  padding: 20px;    
}
#chart-container{
  padding: 20px;
}
#chart-container-next{
  padding: 20px;
}
.image_div{
  padding-top: 30%;
  background-size: cover;
  background-position: center;
  position: relative;
}
.image_div .bg{
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  background: rgba(224, 253, 255, 0.8);
}
.quote_class{
  color: rgb(202, 69, 30);
  font-size: 4vw;
  width: 80%;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
  text-align: center;
  position: absolute;
  z-index: 10;

}
