{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'css/stylesheets/all.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" media="screen" title="no title" charset="utf-8">
    <script src="{% static 'js/jquery.js' %}" charset="utf-8"></script>
  </head>
  <body>

    <!-- <div> -->
      <header class="header header-bordered header-modified" >
        <a href="#" class="header-title header-title-modified" style="color:rgba(255,255,255,1)">Cancer Prediction System</a>
        <a class="header-title header-title-modified" style="color:rgba(255,255,255,1);float:right;cursor:pointer">SDU-DEVELOPMENT</a>
      </header>

      <div class="image_div" style="background-image: url({% static 'files/2.jpg'%})">
      <div class="bg"></div>
      <span class="quote_class">Time is shortening. But every day that WE challenge this cancer and survive is a victory for US.</span>
        <!--<img src="{% static 'files/2.jpg' %}" style="width: 100%;">   -->
      </div>

    <div class="navigation-bar">
       <span class="navigation-bar-span">
          <a type="button" class="button button-add" href="/">
            <i class="icon-upload" style="background: rgba(231,76,60,1);"></i>
            <p style="margin-left:3px;font-size:12px;">Main page</p>
          </a>
        </span>
       <span class="navigation-bar-span navigation-bar-span-modified">
         <a href="/info/" type="button" class="button button-add">
           <i class="icon-paper"></i>
           <p style="margin-left:3px;font-size:12px;">Cancer A-Z</p>
         </a>
        </span>
        <span class="navigation-bar-span">
          <a type="button" href="/stat/" class="button button-add">
            <i class="icon-bar-graph-2"></i>
            <p style="margin-left:3px;font-size:12px;">Statistics</p>
          </a>
        </span>
    </div>
  <!-- </div> -->


    <main class="main">
      <div class="main-add-content-inner">
        <p class="header-title inner-header inner-header-login" style="margin-left: 30px;">
          Welcome to Breast Cancer Prediction System!
        </p>
        <div class="wrapper">
            <form class="myForm" id="myForm" action="/second/" enctype="multipart/form-data" method="POST">{% csrf_token %}
              <div class="block_1">
                <label for="input-main" class="label label-main label-modified" >Your first name</label>
                <input type="text" name="name" class="input input-main input-modified nameID" value="" placeholder="">
                <label for="input-main" class="label label-main label-modified">Your last name</label>
                <input type="text" name="surname" class="input input-main input-modified surnameID" value="" placeholder="">
                <label for="input-main" class="label label-main label-modified ">Your age</label>
                <input type="text" name="age" class="input input-main input-modified input-error ageID" value="" placeholder="">
                <br>
                <!-- <a type="button" class="button button-add first_butt" style="margin-top:40px;">
                  <i class="icon-check"></i>
                  <p style="margin-left:3px;font-size:12px;">Accept</p>
                </a> -->
                <span class="span_1">Personal Info</span>
              </div>
              <div class="block_2">
                <label for="input-main" class="label label-main label-modified" style="">Radius Mean</label>
                <input type="text" name="f1" class="input input-main input-modified input-error F1_ID"  value="" placeholder="" >
                <label for="input-main" class="label label-main label-modified">Texture Mean</label>
                <input type="text" name="f2" class="input input-main input-modified input-error F2_ID" value="" placeholder="">
                <label for="input-main" class="label label-main label-modified">Periemeter Mean</label>
                <input type="text" name="f3" class="input input-main input-modified input-error F3_ID" value="" placeholder="">
                <label for="input-main" class="label label-main label-modified">Area Mean</label>
                <input type="text" name="f4" class="input input-main input-modified input-error F4_ID" value="" placeholder="">
                <br>
                <!-- <a type="button" class="button button-add back_sec_butt" style="margin-top:40px;margin-right: 50px;">
                  <i class="icon-arrow-left" style="background: rgba(231,76,60,1);"></i>
                  <p style="margin-left:5px;font-size:12px;">Back</p>
                </a>
                <a type="button" class="button button-add sec_butt " style="margin-top:40px;">
                  <i class="icon-check"></i>
                  <p style="margin-right:3px;font-size:12px;">Accept</p>
                </a> -->
                <span class="span_2"> Features I - VIII </span>
              </div>
              <div class="block_3">
                <label for="input-main" class="label label-main label-modified" >Concativity Mean</label>
                <input type="text" name="f5" class="input input-main input-modified input-error F5_ID" value="" placeholder="">
                <label for="input-main" class="label label-main label-modified">Concave Points Mean</label>
                <input type="text" name="f6" class="input input-main input-modified input-error F6_ID" value="" placeholder="">
                <label for="input-main" class="label label-main label-modified">Perimeter Worst</label>
                <input type="text" name="f7" class="input input-main input-modified input-error F7_ID" value="" placeholder="">
                <label for="input-main" class="label label-main label-modified">Radius Worst</label>
                <input type="text" name="f8" class="input input-main input-modified input-error F8_ID" value="" placeholder="">
                <br>
                <!-- <a type="button" class="button button-add back_third_butt" style="margin-top:40px;margin-right: 50px;">
                  <i class="icon-arrow-left" style="background: rgba(231,76,60,1);"></i>
                  <p style="margin-left:5px;font-size:12px;">Back</p>
                </a>
                <a type="button" class="button button-add third_butt " style="margin-top:40px;">
                  <i class="icon-check"></i>
                  <p style="margin-right:3px;font-size:12px;">Accept</p>
                </a> -->
                <span class="span_3"> Features V - XII</span>
              </div>
              <div class="block_4">
                <label for="input-main" class="label label-main label-modified" >Area Worst</label>
                <input type="text" name="f9" class="input input-main input-modified input-error F9_ID" value="" placeholder="">
                <label for="input-main" class="label label-main label-modified">Perimeter SE</label>
                <input type="text" name="f10" class="input input-main input-modified input-error F10_ID" value="" placeholder="" >
                <label for="input-main" class="label label-main label-modified">Radius SE</label>
                <input type="text" name="f11" class="input input-main input-modified input-error F11_ID" value="" placeholder="" >
                <label for="input-main" class="label label-main label-modified">Area SE</label>
                <input type="text" name="f12" class="input input-main input-modified input-error F12_ID" value="" placeholder="" >
                <br>
                <!-- <a type="button" class="button button-add back_fourth_butt" style="margin-top:40px;margin-right: 50px;">
                  <i class="icon-arrow-left" style="background: rgba(231,76,60,1);"></i>
                  <p style="margin-left:5px;font-size:12px;">Back</p>
                </a> -->
                <a type="submit" class="button button-add fourth_butt" style="margin-top:40px;">
                  <i class="icon-check"></i>
                  <p style="margin-right:3px;font-size:12px;">Send</p>
                </a><br>
                <span id="error_span">Missing inputs above</span>
              </div>
            </form>
        </div>
      </div>
    </main>

    <footer class="footer footer-bordered header-modified" style="margin-top:80px;">
      <a href="#" class="header-title header-title-modified" style="color:rgba(255,255,255,1)">Kazakhstan</a>
      <a class="header-title header-title-modified" style="color:rgba(255,255,255,1);float:right;cursor:pointer">©2017 SDU All Right reserved </a>
    </footer>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
