{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cancer A-Z</title>
    <link rel="stylesheet" href="{% static 'css/stylesheets/all.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" media="screen" title="no title" charset="utf-8">
    <script src="{% static 'js/jquery.js' %}" charset="utf-8"></script>
  </head>
  <body>

    <!-- <div> -->
      <header class="header header-bordered header-modified" >
        <a href="#" class="header-title header-title-modified" style="color:rgba(255,255,255,1)">Cancer Prediction System</a>
        <a class="header-title header-title-modified" style="color:rgba(255,255,255,1);float:right;cursor:pointer;float:right">SDU-DEVELOPMENT</a>
      </header>

      <div class="image_div" style="background-image: url({% static 'files/2.jpg'%})">
      <div class="bg"></div>
      <span class="quote_class">Time is shortening. But every day that WE challenge this cancer and survive is a victory for US.</span>
        <!--<img src="{% static 'files/2.jpg' %}" style="width: 100%;">   -->
      </div>

    <div class="navigation-bar">
        <span class="navigation-bar-span">
          <a type="button" class="button button-add" href="/">
            <i class="icon-upload" ></i>
            <p style="margin-left:3px;font-size:12px;">Main page</p>
          </a>
        </span>
       <span class="navigation-bar-span navigation-bar-span-modified">
         <a href="/info/" type="button" class="button button-add">
           <i class="icon-paper" style="background: rgba(231,76,60,1);"></i>
           <p style="margin-left:3px;font-size:12px;">Cancer A-Z</p>
         </a>
        </span>
        <span class="navigation-bar-span">
          <a type="button" href="/stat/" class="button button-add">
            <i class="icon-bar-graph-2" ></i>
            <p style="margin-left:3px;font-size:12px;">Statistics</p>
          </a>
        </span>
    </div>
  <!-- </div> -->


    <main class="main">
      <div class="main-add-content-inner">
        <p class="header-title inner-header inner-header-login" style="margin-left: 30px;font-size: 30px;">
          Cancer A-Z
        </p>
        <hr>
        <div class="wrapper">
          <div class="info_block_1" style="text-align: justify; line-height:20px;">
            <p>
              What Is Breast Cancer?
            </p>
            <br>
            <p>
              Breast cancer starts when cells in the breast begin to grow out of control. These
              cells usually form a tumor that can often be seen on an x-ray or felt as a
              lump. The tumor is malignant (cancer) if the cells can grow into (invade)
              surrounding tissues or spread (metastasize) to distant areas of the body. Breast
              cancer occurs almost entirely in women, but men can get breast cancer, too.
              Cells in nearly any part of the body can become cancer and can spread to other areas of the body.
            </p>
            <br>
            <hr>
            <p>
              Where breast cancer starts?
            </p>
            <br>
            <p>
              Breast cancers can start from different parts of the breast. Most breast cancers begin in the ducts that carry milk to the nipple (ductal cancers). Some start in the glands that make breast milk (lobular cancers). There are also other types of breast cancer that are less common.

              A small number of cancers start in other tissues in the breast. These cancers are called sarcomas and lymphomas and are not really thought of as breast cancers.

              Although many types of breast cancer can cause a lump in the breast, not all do. There
              are other symptoms of breast cancer you should watch for and report to a health
              care provider.

              It’s also important to understand that most breast lumps are not cancer, they are benign.
              Benign breast tumors are abnormal growths, but they do not spread outside of
              the breast and they are not life threatening. But some benign breast lumps can
              increase a woman's risk of getting breast cancer. Any breast lump or change
              needs to be checked by a health care provider to determine whether it is benign
              or cancer and whether it might impact your future cancer risk.
            </p>
            <br>
            <img src="{% static 'files/4.gif'%}" style="width: 100%; margin: 0px auto; display: block; margin: 0 auto; padding: 40px;">
            <hr>
            <p>
              How breast cancer spreads?
            </p>
            <br>
            <p>
              Breast cancer can spread when the cancer cells get into the blood or lymph system and
              are carried to other parts of the body.

              The lymph system is a network of lymph (or lymphatic) vessels found throughout the body. The lymph vessels carry lymph fluid and connect lymph nodes. Lymph nodes are small, bean-shaped collections of immune system cells. Lymph vessels are like small veins, except that they carry a clear fluid called lymph (instead of blood) away from the breast. Lymph contains tissue fluid and waste products, as well as immune system cells. Breast cancer cells can enter lymph vessels and start to grow in lymph nodes. Most of the lymph vessels of the breast drain into:

              Lymph nodes under the arm (axillary nodes).
              Lymph nodes around the collar bone (supraclavicular and infraclavicular lymph nodes)
              Lymph nodes inside the chest near the breast bone (internal mammary lymph nodes)
            </p>
            <img src="{% static 'files/3.png'%}" style="width: 100%; margin: 0px auto; display: block; margin: 0 auto;padding: 40px;">
            <p>  </p>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer footer-bordered header-modified" style="margin-top:80px;">
      <a href="#" class="header-title header-title-modified" style="color:rgba(255,255,255,1)">Kazakhstan</a>
      <a class="header-title header-title-modified" style="color:rgba(255,255,255,1);float:right;cursor:pointer">©2017 SDU All Right reserved </a>
    </footer>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
