{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Result</title>
    <link rel="stylesheet" href="{% static 'css/stylesheets/all.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" media="screen" title="no title" charset="utf-8">
    <script src="{% static 'js/jquery.js' %}" charset="utf-8"></script>
  </head>
  <body>
    <div>
      <header class="header header-bordered header-modified" >
        <a href="#" class="header-title header-title-modified" style="color:rgba(255,255,255,1)">Cancer Prediction System</a>
        <a class="header-title header-title-modified" style="color:rgba(255,255,255,1);float:right;cursor:pointer">SDU-DEVELOPMENT</a>
      </header>

    <div class="image_div" style="background-image: url({% static 'files/2.jpg'%})">
      <div class="bg"></div>
      <span class="quote_class">Time is shortening. But every day that WE challenge this cancer and survive is a victory for US.</span>
        <!--<img src="{% static 'files/2.jpg' %}" style="width: 100%;">   -->
      </div>

    <div class="navigation-bar">
        <span class="navigation-bar-span">
          <a type="button" class="button button-add" href="/">
            <i class="icon-upload" ></i>
            <p style="margin-left:3px;font-size:12px;">Main page</p>
          </a>
        </span>
       <span class="navigation-bar-span navigation-bar-span-modified">
         <a href="/info/" type="button" class="button button-add">
           <i class="icon-paper"></i>
           <p style="margin-left:3px;font-size:12px;">Cancer A-Z</p>
         </a>
        </span>
        <span class="navigation-bar-span">
          <a type="button" href="/stat/" class="button button-add">
            <i class="icon-bar-graph-2"></i>
            <p style="margin-left:3px;font-size:12px;">Statistics</p>
          </a>
        </span>
    </div>
  </div>


    <main class="main">
      <div class="main-add-content-inner">
        <p class="header-title inner-header inner-header-login" style="margin-left: 30px;">
          Result Page
        </p>
        <p class="header-title inner-header inner-header-login user_name" style="margin-left: 30px;">
        </p>
        <div class="wrapper result_wrapper">
          <form action="/result/" method="POST" style="display: none">{% csrf_token %}
          <p id="myData">{{data}}</p>{% csrf_token %}
            <input type="text" name="" value="" id ="formInput" >
          </form>
          <table class="table_result res_table">
            <thead>
              <tr>
                <th scope="col" id="">#</th>
                <th scope="col" id="">Algorithm</th>
                <th scope="col" id="">Accuracy</th>
                <th scope="col" id="">Class</th>
                <th scope="col" id="">Probability</th>
              </tr>
        		</thead>
            <tbody >
              <tr class="first_tr">
                <td>1</td>
                <td>KNN</td>
                <td class="KNN_acc">97</td>
                <td class="KNN_di">Benign</td>
                <td class="KNN_prob">67</td>
              </tr>
              <tr class="second_tr filled_tr">
                <td>2</td>
                <td>DT</td>
                <td class="DT_acc">97</td>
                <td class="DT_di">Benign</td>
                <td class="DT_prob">67</td>
              </tr>
              <tr class="third_tr">
                <td >3</td>
                <td>Logit.</td>
                <td class="LOG_acc">97</td>
                <td class="LOG_di">Benign</td>
                <td class="LOG_prob">67</td>
              </tr>
              <tr class="fourth_tr filled_tr">
                <td>4</td>
                <td>NB</td>
                <td class="NB_acc">97</td>
                <td class="NB_di">Benign</td>
                <td class="NB_prob">67</td>
              </tr>
              <tr class="fourth_tr">
                <td>5</td>
                <td>ANN</td>
                <td class="MLP_acc">97</td>
                <td class="MLP_di">Benign</td>
                <td class="MLP_prob">67</td>
              </tr>
              <tr class="fourth_tr filled_tr">
                <td>6</td>
                <td>SVM</td>
                <td class="SVC_acc">97</td>
                <td class="SVC_di">Benign</td>
                <td class="SVC_prob">67</td>
              </tr>
            </tbody>
          </table>

          <table class="table_result hide_table">
            <thead>
              <tr>
                <th scope="col" id="">#</th>
                <th scope="col" id="">Algorithm</th>
                <th scope="col" id="">Accuracy</th>
                <th scope="col" id="" style="width: 20%;">Class</th>
                <th scope="col" id="">Probability</th>
              </tr>
        		</thead>
            <tbody >
              <tr class="first_tr">
                <td class="first_td" style="top:-3px">1</td>
                <td class="first_td" style="top:-3px">KNN</td>
                <td class="acc" colspan="3" rowspan="6" style="color:grey; font-style: italic;">97</td>
              </tr>
              <tr class="second_tr filled_tr">
                <td>2</td>
                <td>DT</td>
              </tr>
              <tr class="third_tr">
                <td >3</td>
                <td>Logit.</td>
              </tr>
              <tr class="fourth_tr filled_tr">
                <td>4</td>
                <td>NB</td>
              </tr>
               <tr class="fourth_tr">
                <td>5</td>
                <td>ANN</td>
              </tr>
              <tr class="fourth_tr filled_tr">
                <td>6</td>
                <td>SVM</td>
              </tr>
            </tbody>
          </table>


          <div id="chartContainer">FusionCharts will load here!</div>
          <div id="chart-container"></div>
          <div id="chart-container-next"></div>
        </div>
      </div>
    </main>

    <footer class="footer footer-bordered header-modified" style="margin-top:80px;">
      <a href="#" class="header-title header-title-modified" style="color:rgba(255,255,255,1)">Kazakhstan</a>
      <a class="header-title header-title-modified" style="color:rgba(255,255,255,1);float:right;cursor:pointer">©2017 SDU All Right reserved </a>
    </footer>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fusioncharts/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fusioncharts/fusioncharts.charts.js' %}"></script>
    <script type="text/javascript">
      var line = document.getElementById('myData').innerHTML;
      var a = JSON.parse(line);
      $('#formInput').val(a.data);
      var data = {
        'input':$('#formInput').val()
      };

      var b = data['input'].split(',');
      var c = b[0] + ' ' + b[1] + ' age:' + b[2];
      $('.user_name').text(c);
      console.log(c);

      var response = false;
      var waitStr = 'wait';
      if (!response) {
        $('.acc').text(waitStr);
        setInterval(function(){
          if (waitStr == 'wait...') {
            waitStr='wait';
            $('.acc').text(waitStr);

          }else {
            var tempPoint = '.';
            waitStr += tempPoint;
            $('.acc').text(waitStr);
          }
         }
        , 500);
      }

      $.ajax({
        url: "/result/",
        type: "GET",
        data: data,
        contentType: 'application/json',
        success: function(response) {
        var mainArray = new Array();
        $('.res_table').css('display','inline-table');
        $('.hide_table').css('display','none');
        var mainResponse = response.split(';');
        for (var i = 0; i < 6; i++) {
          var temp = mainResponse[i].split(',');
          var diagnosis = temp[0];
          var prob =  parseFloat(temp[1].replace('[ ','').replace(']','0')).toPrecision(7);
          var accuracy = temp[2];
          var acc_class = temp[3];
          var di_class = temp[4];
          var prob_class = temp[5];
          var name = temp[6];
          var Item = {di : diagnosis, prob:prob, acc:accuracy,name:name,acc_class:acc_class,di_class:di_class,prob_class:prob_class};
          $(acc_class).text(accuracy);
          $(di_class).text(diagnosis);
          $(prob_class).text(prob);
          mainArray.push(Item);


          if(i==5){
            console.log(mainArray);
              FusionCharts.ready(function(){
              var revenueChart = new FusionCharts({
                "type": "column2d",
                "renderAt": "chartContainer",
                "width": "100%",
                "height": "300",
                "dataFormat": "json",
                "dataSource": {
                  "chart": {
                      "caption": "Accuracy of ML Methods on Breast Cancer Prediction",
                      "subCaption": "Medicine Support",
                      "xAxisName": "Methods",
                      "yAxisName": "Accuracy",
                      "baseFont": 'GothamPro',
                      "theme": "zune"
                   },
                  "data": [
                      {
                         "label": mainArray[0].name,
                         "value": mainArray[0].acc
                      },
                      {
                         "label": mainArray[1].name,
                         "value": mainArray[1].acc
                      },
                      {
                         "label": mainArray[2].name,
                         "value": mainArray[2].acc
                      },
                      {
                         "label": mainArray[3].name,
                         "value": mainArray[3].acc
                      },
                      {
                         "label": mainArray[4].name,
                         "value": mainArray[4].acc
                      },
                      {
                         "label": mainArray[5].name,
                         "value": mainArray[5].acc
                      }
                   ]
                }
            });
              revenueChart.render();
            })

            FusionCharts.ready(function () {
                var topStores = new FusionCharts({
                    type: 'bar2d',
                    renderAt: 'chart-container',
                    width: '100%',
                    height: '400',
                    dataFormat: 'json',
                    dataSource: {
                        "chart": {
                            "caption": "Probability of Class",
                            "subCaption": "Medicine Support",
                            "yAxisName": "In percentage [0.0 - 1.0]",
                            "numberPrefix": "%",
                            "paletteColors": "#0075c2",
                            "bgColor": "#ffffff",
                            "showBorder": "0",
                            "showCanvasBorder": "0",
                            "usePlotGradientColor": "0",
                            "plotBorderAlpha": "10",
                            "placeValuesInside": "1",
                            "valueFontColor": "#ffffff",
                            "showAxisLines": "1",
                            "axisLineAlpha": "25",
                            "divLineAlpha": "10",
                            "alignCaptionWithCanvas": "0",
                            "showAlternateVGridColor": "0",
                            "captionFontSize": "14",
                            "subcaptionFontSize": "14",
                            "subcaptionFontBold": "0",
                            "toolTipColor": "#ffffff",
                            "toolTipBorderThickness": "0",
                            "toolTipBgColor": "#000000",
                            "toolTipBgAlpha": "80",
                            "toolTipBorderRadius": "2",
                            "toolTipPadding": "5"
                        },

                        "data": [
                            {
                               "label": mainArray[0].name,
                               "value": mainArray[0].prob*100
                            },
                            {
                               "label": mainArray[1].name,
                               "value": mainArray[1].prob*100
                            },
                            {
                               "label": mainArray[2].name,
                               "value": mainArray[2].prob*100
                            },
                            {
                               "label": mainArray[3].name,
                               "value": mainArray[3].prob*100
                            },
                            {
                               "label": mainArray[4].name,
                               "value": mainArray[4].prob*100
                            },
                            {
                               "label": mainArray[5].name,
                               "value": mainArray[5].prob*100
                            }
                        ]
                    }
                })
                .render();
            });
            FusionCharts.ready(function () {
            var budgetChart = new FusionCharts({
                type: 'radar',
                renderAt: 'chart-container-next',
                width: '100%',
                height: '450',
                dataFormat: 'json',
                dataSource: {
                    "chart": {
                        "caption": "Accuracy Analysis",
                        "subCaption": "Medicine Support",
                        "captionFontSize": "14",
                        "subcaptionFontSize": "14",
                        "numberPrefix":"%",
                        "baseFontColor" : "#333333",
                        "baseFont" : "Helvetica Neue,Arial",
                        "subcaptionFontBold": "0",
                        "paletteColors": "#008ee4,#6baa01",
                        "bgColor" : "#ffffff",
                        "radarfillcolor": "#ffffff",
                        "showBorder" : "0",
                        "showShadow" : "0",
                        "showCanvasBorder": "0",
                        "legendBorderAlpha": "0",
                        "legendShadow": "0",
                        "divLineAlpha": "10",
                        "usePlotGradientColor": "0",
                        "numberPreffix": "$",
                        "legendBorderAlpha": "0",
                        "legendShadow": "0"
                    },
                    "categories": [
                        {
                            "category": [
                                { "label": mainArray[0].name },
                                { "label": mainArray[1].name },
                                { "label": mainArray[2].name },
                                { "label": mainArray[3].name },
                                { "label": mainArray[4].name },
                                { "label": mainArray[5].name }
                            ]
                        }
                    ],
                    "dataset": [
                        {
                            "seriesname": "Probability",
                            "data": [
                                { "value": mainArray[0].prob},
                                { "value": mainArray[1].prob},
                                { "value": mainArray[2].prob},
                                { "value": mainArray[3].prob},
                                { "value": mainArray[4].prob},
                                { "value": mainArray[5].prob}
                            ]
                        },
                        {
                            "seriesname": "Accuracy",
                            "data": [
                                { "value": mainArray[0].acc},
                                { "value": mainArray[1].acc},
                                { "value": mainArray[2].acc},
                                { "value": mainArray[3].acc},
                                { "value": mainArray[4].acc},
                                { "value": mainArray[5].acc}
                            ]
                        }

                    ]
                }
            }).render();
        });


            }
          }
        }
      });
    </script>
  </body>
</html>
