{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Statistics</title>
    <link rel="stylesheet" href="{% static 'css/stylesheets/all.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" media="screen" title="no title" charset="utf-8">
    <script src="{% static 'js/jquery.js' %}" charset="utf-8"></script>
  </head>
  <body>

    <!-- <div> -->
      <header class="header header-bordered header-modified" >
        <a href="#" class="header-title header-title-modified" style="color:rgba(255,255,255,1)">Cancer Prediction System</a>
        <a class="header-title header-title-modified" style="color:rgba(255,255,255,1);float:right;cursor:pointer">SDU-DEVELOPMENT</a>
      </header>

      <div class="image_div" style="background-image: url({% static 'files/2.jpg'%})">
      <div class="bg"></div>
      <span class="quote_class">Time is shortening. But every day that WE challenge this cancer and survive is a victory for US.</span>
        <!--<img src="{% static 'files/2.jpg' %}" style="width: 100%;">   -->
      </div>

    <div class="navigation-bar">
        <span class="navigation-bar-span">
          <a type="button" class="button button-add" href="/">
            <i class="icon-upload" ></i>
            <p style="margin-left:3px;font-size:12px;">Main page</p>
          </a>
        </span>
       <span class="navigation-bar-span navigation-bar-span-modified">
         <a href="/info/" type="button" class="button button-add">
           <i class="icon-paper"></i>
           <p style="margin-left:3px;font-size:12px;">Cancer A-Z</p>
         </a>
        </span>
        <span class="navigation-bar-span">
          <a type="button" href="/stat/" class="button button-add">
            <i class="icon-bar-graph-2" style="background: rgba(231,76,60,1);"></i>
            <p style="margin-left:3px;font-size:12px;">Statistics</p>
          </a>
        </span>
    </div>
  <!-- </div> -->


    <main class="main">
      <div class="main-add-content-inner">
        <p class="header-title inner-header inner-header-login" style=" text-align: center; width: 100%;">
          Statistics about Cancer Dataset!
        </p>
        <div class="wrapper" >
        <div id="chart-container">FusionCharts XT will load here!</div>
        <div id="chart-container-1">FusionCharts XT will load here!</div>
        </div>
      </div>
    </main>

    <footer class="footer footer-bordered header-modified" style="margin-top:80px;">
      <a href="#" class="header-title header-title-modified" style="color:rgba(255,255,255,1)">Kazakhstan</a>
      <a class="header-title header-title-modified" style="color:rgba(255,255,255,1);float:right;cursor:pointer">©2017 SDU All Right reserved </a>
    </footer>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fusioncharts/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fusioncharts/fusioncharts.charts.js' %}"></script>
    <script type="text/javascript">

    $.ajax({
        url: "/get_stat/",
        type: "GET",
        contentType: 'application/json',
        success: function(response) {
          // alert(response);
          var m_counter = parseFloat(response.split(',')[0]);
          var b_counter = parseFloat(response.split(',')[1]);

          console.log(m_counter);
          console.log(b_counter);

          var all = m_counter+b_counter;
          var M_p = (m_counter*100)/all;
          var B_p = (b_counter*100)/all;
          console.log(all);
          console.log(M_p);
          console.log(B_p);

          FusionCharts.ready(function(){
            var fusioncharts = new FusionCharts({
              type: 'pie3d',
              renderAt: 'chart-container',
              width: '100%;',
              height: '400',
              dataFormat: 'json',
              dataSource: {
                "chart": {
                  "caption": "Breast Cancer Diagnosis",
                  "subCaption": "Wisconsin Diagnostic Data Set",
                  "palette": "1",
                  "animation": "0.001",
                  "formatnumberscale": "1",
                  "decimals": "0",
                  "numberprefix": "%",
                  "pieslicedepth": "30",
                  "startingangle": "125",
                  "showborder": "4"
                },
                "data": [
                {
                  "label": "Benign",
                  "value": M_p,
                  "issliced": "1"
                },{
                  "label": "Malignant",
                  "value": B_p,
                  "issliced": "1"
                }]
              }
            });
            fusioncharts.render();
          });


          var fusioncharts = new FusionCharts({
            type: 'waterfall2d',
            renderAt: 'chart-container-1',
            width: '100%',
            height: '350',
            dataFormat: 'json',
            dataSource: {
                "chart": {
                    "caption": "Total Profit Calculation",
                    "subcaption": "Last month",
                    "yAxisname": "Amount (In USD)",
                    "numberprefix": "$",
                    "connectordashed": "1",
                    "sumlabel": "Total {br} Profit",
                    "positiveColor": "#6baa01",
                    "negativeColor": "#e44a00",

                    //Cosmetics
                    "paletteColors": "#0075c2,#1aaf5d,#f2c500",
                    "baseFontColor": "#333333",
                    "baseFont": "Helvetica Neue,Arial",
                    "captionFontSize": "14",
                    "subcaptionFontSize": "14",
                    "subcaptionFontBold": "0",
                    "showBorder": "0",
                    "bgColor": "#ffffff",
                    "showShadow": "0",
                    "canvasBgColor": "#ffffff",
                    "canvasBorderAlpha": "0",
                    "divlineAlpha": "100",
                    "divlineColor": "#999999",
                    "divlineThickness": "1",
                    "divLineIsDashed": "1",
                    "divLineDashLen": "1",
                    "divLineGapLen": "1",
                    "usePlotGradientColor": "0",
                    "showplotborder": "0",
                    "showXAxisLine": "1",
                    "xAxisLineThickness": "1",
                    "xAxisLineColor": "#999999",
                    "showAlternateHGridColor": "0",
                },
                "data": [{
                    "label": "Online sales",
                    "value": "420000"
                }, {
                    "label": "Store Sales",
                    "value": "710000"
                }, {
                    "label": "Total Sales",
                    "issum": "1"
                }, {
                    "label": "Fixed Costs",
                    "value": "-250000"
                }, {
                    "label": "Variable Costs",
                    "value": "-156000"
                }, {
                    "label": "COGS",
                    "value": "-310000"
                }, {
                    "label": "Promotion Costs",
                    "value": "-86000"
                }, {
                    "label": "Total Costs",
                    "issum": "",
                    "cumulative": "0"
                }]
            }
        }
        );
            fusioncharts.render();


            var fusioncharts = new FusionCharts({
            type: 'dragcolumn2d',
            renderAt: 'chart-container-1',
            width: '100%',
            height: '500',
            dataFormat: 'json',
            dataSource: {
                "chart": {
                    "caption": "Diagnosed Breast Cancer",
                    "subCaption": "U.S. Statistics each year",
                    "xAxisName": "Gender",
                    "yAxisName": "Number of People",
                    "theme": "fint"
                },
                "categories": [
                    {
                        "category": [
                            {
                                "label": "Men"
                            },
                            {
                                "label": "Women"
                            }
                        ]
                    }
                ],
                "dataset": [
                    {
                        "seriesname": "Estimated",
                        "allowDrag": "0",
                        "data": [
                            {
                                "value": 2600
                            },
                            {
                                "value": 246660
                            }
                        ]
                    },
                    {
                        "seriesname": "Death",
                        "dashed": "1",
                        "data": [
                            {
                                "value": 440
                            },
                            {
                                "value": 40000
                            }
                        ]
                    }
                ]
            }
        }
        );
            fusioncharts.render();




        }
      });
    </script>
  </body>
</html>
